* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  padding: 0.8rem;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;

  font-weight: 700;
}
header {
  padding: 52px 135px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.website-name {
  display: flex;
}
.home-btn {
  color: #ff5400;
}
.website-title {
  font-size: 2.2rem;
}
.menu-name ul {
  display: flex;
}
.menu-name li {
  list-style: none;
  padding-right: 44px;
}
.banner-container {
  background-image: url("images/banner.png");
  margin-top: 60px;
  width: 100%;
  border-radius: 10px;
}
.banner-heading {
  color: #fff;
  font-size: 3rem;
  padding-top: 106px;
  font-weight: 800;
  text-align: center;
}
.banner-description {
  color: #fff;
  text-align: center;

  font-size: 1rem;

  font-weight: 400;
}
.banner-btn {
  display: inline-flex;
  align-items: center;
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  gap: 40px;
  justify-content: center;
  margin: 4rem 16rem;
  border-radius: 1rem;
}
.popular-tour {
  display: flex;
  margin: 4rem 7rem;
  gap: 2rem;
}
.tour-heading {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.popular-tour-image {
  width: 80%;
}
.destination-title {
  color: #131318;
  text-align: center;

  font-size: 3rem;

  font-weight: 800;
}
.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  padding: 10px 135px;
}
.destination-image-row1 {
  padding: 24px 120px;
  display: flex;
  gap: 25px;
}
.row1-left {
  position: relative;
}
.row1-left img {
  width: 100%;
}
.row1-text {
  position: absolute;
  top: 160px;
  left: 200px;
  color: #fff;
}
.row1-right {
  position: relative;
}
.row1-right img {
  width: 100%;
}
.row1-right-text {
  position: absolute;
  top: 160px;
  left: 240px;
  color: #fff;
}
.destination-image-row2 {
  padding: 0px 120px;
  display: flex;
  gap: 24px;
}
.row2-left {
  position: relative;
}
.row2-left img {
  width: 100%;
}
.row2-text {
  position: absolute;
  top: 140px;
  left: 130px;
  color: #fff;
}
.row2-midle-image {
  position: relative;
}
.row2-midle-image img {
  width: 100%;
}
.row2-midle-text {
  position: absolute;
  top: 140px;
  left: 130px;
  color: #fff;
}
.row2-right {
  position: relative;
}
.row2-right img {
  width: 100%;
}
.row2-right-text {
  position: absolute;
  top: 140px;
  left: 80px;
  color: #fff;
}
.destination-image-rows3 {
  padding: 24px 120px;
  display: flex;
  gap: 24px;
}
.row3-left {
  position: relative;
}
.row3-text {
  position: absolute;
  top: 120px;
  left: 120px;
  color: aliceblue;
}
.row3-left img {
  width: 100%;
}
.row3-left {
  position: relative;
}
.row3-text-right {
  position: absolute;
  top: 120px;
  left: 230px;
  color: antiquewhite;
}
.why-chose-us {
  text-align: center;
  padding: 100px 300px;
}
.chose-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.chose-description {
  padding-top: 16px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.card {
  padding: 0px 120px;
  display: flex;
  gap: 24px;
}
.card img {
  width: 100px;
  height: 100px;
}
.card-left {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 10px;
}
.card-right {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 10px;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.card-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.last-card img{
  width: 100px;
  height: 100px;
  
}
.last-card{
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
 width:570px;
 height: 210px;
 
 margin:40px auto;
 padding: 16px;
 
 
}
/* media queries */
@media screen and (max-width: 600px) {
  .banner-btn,
  .popular-tour,
  .website-name,
  .menu-name ul,
  .nav-container {
    flex-direction: column;
    padding: 10px 10px;
    margin: 0;
  }
}
